 ul { 
list-style-type:none;
margin:0;
padding:0;
}

body {
   font-family: 'IBM Plex Mono', monospace;
}

button{
    background:blue;
    color:white;
    border: 1px blue solid;
    transition:all 100ms ease-in-out;
}

button:hover{
    background:white;
    color:blue;
}

.figure {
    position:absolute;
    right: 80px;
    top:55px;
}

.card{
    padding:30px;
    margin: 50px; 
}

.weather-icons{
    padding: 10px
}

.tempHigh{
    margin:0;
}

.tempLow{
    margin:0;
    color:grey;
}
