body {
    font-family: "IBM Plex Mono", monospace;
    color: black;
    font-weight: 400;
    text-align: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 40px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

p {
    font-size: 20px;
}

.card-body {
    background-color: pink;
    width: 800px;
    padding: 50px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    border-block: none;
}

.button {
    font-weight: 400px;
    background-color: hotpink;
    font-family: "IBM Plex Mono", monospace;
    padding: 4px;
    width: 80px;
    border: 1px solid hotpink;
    transition: 100ms ease-in-out;
    cursor: pointer;
}

.search {
    padding: 4px;
    font-family: "IBM Plex Mono", monospace;
    color: black;
    border: 1px pink solid;
}

.button:hover {
    background: white;
    color: pink;
    border: 1px pink solid;
}
